<div class="container">
  <div class="row">
    <div class="col">
      <p id="notice"><%= notice %></p>

      <h1>Heartbeat Destinations</h1>

      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">Switch</th>
            <th scope="col">Type</th>
            <th scope="col">Address</th>
            <th scope="col" colspan="3">Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @heartbeat_destinations.each do |heartbeat_destination| %>
            <tr>
              <th scope="row"><%= link_to heartbeat_destination.switch.name, heartbeat_destination.switch %></th>
              <td><%= heartbeat_destination.heartbeat_destination_type %></td>
              <td><%= heartbeat_destination.heartbeat_destination_address %></td>
              <td><%= link_to 'Show', switch_heartbeat_destination_path(switch_id: heartbeat_destination.switch.id, id: heartbeat_destination.id) %></td>
              <td><%= link_to 'Edit', edit_switch_heartbeat_destination_path(switch_id: heartbeat_destination.switch.id, id: heartbeat_destination.id) %></td>
              <td><%= link_to 'Destroy', switch_heartbeat_destination_path(switch_id: heartbeat_destination.switch.id, id: heartbeat_destination.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to 'New Heartbeat Destination', new_switch_heartbeat_destination_path(@switch), class: 'white btn btn-primary' %><br><br>
      <%= link_to 'Back To Switch', switch_path(@switch) %>
    </div>
  </div>
</div>