<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Heartbeat Attempt</h1>
    <p>
      This is an attempt from <%= link_to 'Detonate', root_url %> to check your heartbeat for your switch named <b>"<%= @heartbeat.switch.name %>"</b>
    </p>
    <p>
      To confirm you are alive and well, just follow this link: <%= link_to @url, @url %>
    </p>
    <p>
      Failure to confirm your heartbeat with this switch at the chosen interval <b>"<%= @heartbeat.switch.heartbeat_interval %>"</b> will result in your switch's information being released.
    </p>
    <p>
      <b>You have missed <%= @heartbeat.switch.missed_heartbeats %> of <%= @heartbeat.switch.max_missed_heartbeats %> heartbeats</b>
    </p>
  </body>
</html>
