<p id="notice"><%= notice %></p>

<h1>Switches</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Name ciphertext</th>
      <th>Content ciphertext</th>
      <th>Heartbeat interval</th>
      <th>Max missed heartbeats</th>
      <th>Missed heartbeats</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @switches.each do |switch| %>
      <tr>
        <td><%= switch.user_id %></td>
        <td><%= switch.name_ciphertext %></td>
        <td><%= switch.content_ciphertext %></td>
        <td><%= switch.heartbeat_interval %></td>
        <td><%= switch.max_missed_heartbeats %></td>
        <td><%= switch.missed_heartbeats %></td>
        <td><%= link_to 'Show', switch %></td>
        <td><%= link_to 'Edit', edit_switch_path(switch) %></td>
        <td><%= link_to 'Destroy', switch, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Switch', new_switch_path %>
