<div class="container">
  <div class="row">
    <div class="col">
      <p id="notice"><%= notice %></p>

      <h1>Switches</h1>

      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Content</th>
            <th>Heartbeat Interval</th>
            <th>Max Missed Heartbeats</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @current_user.switches.each do |switch| %>
            <tr>
              <td><%= truncate(switch.name_ciphertext, length: 10) %></td>
              <td><%= truncate(switch.content_ciphertext, length: 10) %></td>
              <td><%= switch.heartbeat_interval %></td>
              <td><%= switch.max_missed_heartbeats %></td>
              <td>
                <%= link_to 'Show', switch %>
                <%= link_to 'Edit', edit_switch_path(switch) %>
                <%= link_to 'Destroy', switch, method: :delete, data: { confirm: 'Are you sure?' } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to 'New Switch', new_switch_path %>
    </div>
  </div>
</div>
