<div class="container">
  <div class="row">
    <div class="col">
      <p id="notice"><%= notice %></p>
      <h1>Switches</h1>
      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">Switch Name</th>
            <th scope="col">Interval</th>
            <th scope="col">Max Missed</th>
            <th scope="col">Missed</th>
            <th scope="col">Heartbeat Address</th>
            <th scope="col">Switch Address</th>
            <th scope="col">Detonated</th>
            <th scope="col" colspan="2">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @current_user.switches.each do |switch| %>
            <tr>
              <th scope="row"><%= link_to(truncate(switch.name, length: 10), switch) %></th>
              <td><%= switch.heartbeat_interval %></td>
              <td><%= switch.max_missed_heartbeats %></td>
              <td><%= switch.missed_heartbeats %></td>
              <td><%= switch.heartbeat_address %></td>
              <td><%= switch.switch_address %></td>
              <td><%= switch.detonated? ? 'true' : 'false' %></td>
              <td><%= link_to 'Edit', edit_switch_path(switch) %></td>
              <td><%= link_to 'Destroy', switch, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to 'New Switch', new_switch_path, class: 'white btn btn-primary' %>
    </div>
  </div>
</div>
