<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @switch.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @switch.content %>
</p>

<p>
  <strong>Heartbeat interval:</strong>
  <%= @switch.heartbeat_interval %>
</p>

<p>
  <strong>Max missed heartbeats:</strong>
  <%= @switch.max_missed_heartbeats %>
</p>

<p>
  <strong>Missed heartbeat:</strong>
  <%= @switch.missed_heartbeats %>
</p>

<p>
  <strong>Heartbeat address:</strong>
  <%= @switch.heartbeat_address %>
</p>

<p>
  <strong>Switch address:</strong>
  <%= @switch.switch_address %>
</p>

<p>
  <strong>Detonated:</strong>
  <%= @switch.detonated? ? 'true' : 'false' %>
</p>

<%= link_to 'Edit', edit_switch_path(@switch) %><br><br>
<%= link_to 'Back', switches_path %>
