<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @switch.user_id %>
</p>

<p>
  <strong>Name ciphertext:</strong>
  <%= @switch.name_ciphertext %>
</p>

<p>
  <strong>Content ciphertext:</strong>
  <%= @switch.content_ciphertext %>
</p>

<p>
  <strong>Heartbeat interval:</strong>
  <%= @switch.heartbeat_interval %>
</p>

<p>
  <strong>Max missed heartbeats:</strong>
  <%= @switch.max_missed_heartbeats %>
</p>

<p>
  <strong>Missed heartbeat:</strong>
  <%= @switch.missed_heartbeats %>
</p>

<%= link_to 'Edit', edit_switch_path(@switch) %> |
<%= link_to 'New Heartbeat Destination', new_switch_heartbeat_destination_path(@switch) %> |
<%= link_to 'New Switch Destination', new_switch_switch_destination_path(@switch) %> |
<%= link_to 'Back', switches_path %>
