<p id="notice"><%= notice %></p>

<div class="col-10 center">
  <h1><%= @switch.name %></h1>
  <br>

  <p>
    We'll send you heartbeats <strong><%= @switch.heartbeat_interval %></strong> to <strong><%= @switch.heartbeat_address %></strong> and you can miss a maximum of <strong><%= @switch.max_missed_heartbeats %></strong>. Currently, you've missed <strong><%= @switch.missed_heartbeats %></strong> heartbeats.
  </p>

  <p>
    If you miss all of your configured heartbeats, we'll send the information below to <strong><%= @switch.switch_address %></strong>
  </p>

  <br>
  <p>
    <h3>Here is your sensitive information:</h3>
    <br>
    <pre>
      <%= @switch.content %>
    </pre>
  </p>

  <br>
  <br>
  <%= link_to 'Edit', edit_switch_path(@switch) %>
  <br>
  <br>
  <%= link_to 'Go Back', switches_path %>
</div>