<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Checkin With Detonate</h1>
    <p>
      This is a checkin attempt for your switch named <b>"<%= @user_checkin.checkin.switch.name %>"</b>
    </p>
    <p>
      To confirm you are alive and well, just follow this link: <%= link_to @url, @url %>
    </p>
    <p>
      Failure to checkin with this switch at the choosen interval "<%= @user_checkin.checkin.switch.checkin_interval %>" <%= @user_checkin.checkin.switch.max_missed_checks %> or more times will result in your switch's information being sent out to the releases you have configured.
    </p>
    <p>
      <b>You have missed <%= @user_checkin.checkin.switch.missed_checks %> of <%= @user_checkin.checkin.switch.max_missed_checks %></b>
    </p>
  </body>
</html>
