<%= form_with(model: switch_destination) do |form| %>
  <% if switch_destination.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(switch_destination.errors.count, "error") %> prohibited this switch_destination from being saved:</h2>

      <ul>
        <% switch_destination.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :switch_id %>
    <%= form.text_area :switch_id %>
  </div>

  <div class="field">
    <%= form.label :switch_destination_type %>
    <%= form.text_field :switch_destination_type %>
  </div>

  <div class="field">
    <%= form.label :switch_destination_address %>
    <%= form.text_area :switch_destination_address %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
