<p id="notice"><%= notice %></p>

<p>
  <strong>Switch:</strong>
  <%= @switch_destination.switch_id %>
</p>

<p>
  <strong>switch_destination type:</strong>
  <%= @switch_destination.switch_destination_type %>
</p>

<p>
  <strong>switch_destination address ciphertext:</strong>
  <%= @switch_destination.switch_destination_address_ciphertext %>
</p>

<%= link_to 'Edit', edit_switch_destination_path(@switch_destination) %> |
<%= link_to 'Back', switch_destinations_path %>
