<p id="notice"><%= notice %></p>

<h1>Checkins</h1>

<table>
  <thead>
    <tr>
      <th>Switch</th>
      <th>Checkin type</th>
      <th>Checkin address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @checkins.each do |checkin| %>
      <tr>
        <td><%= link_to checkin.switch.id, checkin.switch %></td>
        <td><%= checkin.checkin_type %></td>
        <td><%= checkin.checkin_address_ciphertext %></td>
        <td><%= link_to 'Show', switch_checkin_path(switch_id: checkin.switch.id, id: checkin.id) %></td>
        <td><%= link_to 'Edit', edit_switch_checkin_path(switch_id: checkin.switch.id, id: checkin.id) %></td>
        <td><%= link_to 'Destroy', switch_checkin_path(switch_id: checkin.switch.id, id: checkin.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Checkin', new_switch_checkin_path(switch_id: @switch.id) %>
