<p id="notice"><%= notice %></p>

<p>
  <strong>Switch:</strong>
  <%= @checkin.switch_id %>
</p>

<p>
  <strong>Checkin type:</strong>
  <%= @checkin.checkin_type %>
</p>

<p>
  <strong>Checkin address:</strong>
  <%= @checkin.checkin_address_ciphertext %>
</p>

<%= link_to 'Edit', edit_checkin_path(@checkin) %> |
<%= link_to 'Back', checkins_path %>
