<!DOCTYPE html>
<html>

<head>
    <title><%= content_for?(:title) ? yield(:title) : 'Detonate' %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : 'Detonate' %>">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
    <header>
        <%= render 'layouts/navigation' %>
    </header>

    <main role="main">
        <div class="container">
            <%= content_for?(:content) ? yield(:content) : yield %>
        </div>
    </main>
</body>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-FP609D0TT5"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-FP609D0TT5');
</script>
</html>